.header {
  background-color: rgba(10, 10, 42, 0.9); 
  padding: 15px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 15px;
  width: 500px;
}

.logo .icon {
  width: 40px;
  height: 40px;
  color: #ffcc00; 
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo-subtext{
  font-size: 10px;
  font-style: italic;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end; 
  padding-right: 20px;
}

.nav {
  display: flex;
  margin-left: auto; 
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-button {
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.2s;
  border-radius: 5px;
  font-weight: bold;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.nav-button.active {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .header-content {
      flex-direction: column;
      text-align: center;
  }

  .nav-buttons {
      flex-direction: column;
      gap: 10px;
  }
}